.jspsych-rating-stimulus  {
	height: 300px;
	width: 300px;
	margin: 10px auto;
	display: block;
	align-self: center;
	justify-content: center;
}

.jspsych-forcedchoice-stim{
	height: 300px;
	width: 300px;
	margin: 5px 10px;
}

.jspsych-content{
	height: 100%;	
}

.jspsych-content-wrapper{
	height:100%;
}

.jspsych-choice-list{
	padding-left: 0;
	/* display: inline; */
	margin: auto 0;
	text-align: center;
}

.jspsych-forcedchoice-stimHandler{
	text-align:center;
	font-size: 18pt;
}